.btn-group{
    margin-left:5%;
    width:112%;
}
  
 
.btn-group button {
    background-color: rgb(173, 201, 202);
    border:none; 
    color: rgb(42, 168, 218);
    padding: 0.5rem 0.5rem; 
    font-size:1.25rem;
    cursor: pointer;
    width:56%;
  }
  
.btn-group button:active{
      outline:none;
  }

.btn-group button:focus{
      outline:none;
  }

.form-container{
      margin-top:8%;
      margin-left:30%;
      margin-right:30%;
  }

  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }